.btn {
  height: 5rem;
  text-transform: uppercase;
  background-color: color('yellow');
  border: solid 0.1rem transparent;

  &:hover {
    background-color: color('white');
    border-color: color('yellow');
  }

  &--outline {
    background-color: color('white');
    border-color: color('yellow');
  }

  &--rounded {
    border-radius: 0.4rem;
  }
}
